:root {
    --primary-color: #055a05;
    --secondary-color: #0a8a0a;
    --accent-color: #e9c46a;
    --heading-font: Cambria, Cochin, Georgia, "Time New Roman", Times, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: var (--primary-color);
    color: var(--accent-color);
}

body {
    font-family: var(--body-font);
    color: var(--accent-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

Socialmedia a {
    text-decoration: none;
}

hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20%;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: o.7;
    background-color: var(--accent-color);
    color: ffffff;
}

hero article img {
    float: right;
    width: 125px;
}