* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
}

h1 {
    color: steelblue;
    padding: 5rem;
}

main {
    max-width: 640px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}


aside {
    width: 20em;
    text-align: center;
    position: relative;
}

p {
    margin: 1rem;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 67px;
    left: 150px;
}


footer {
    margin: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* class selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: #eee;
    color: #000;
}

.indent {
    margin-left: 1rem;
}