body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #003366;
    padding: 20px;
    text-align: center;
    color: white;
}

h1 {
    color: #333;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 840px;
    margin: 0 auto;
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid #000;
    padding: 5px;
    box-shadow: 0 0 10px #666;
}

aside {
    width: 200px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f4f4f4;
    color: #333;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #000;
    text-align: center;
}