/* NAV */
nav {
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    padding: 14px 10px;
    display: block;
    text-decoration: none;
}

/* MAIN */
main {
    max-width: 840px;
    margin: 0 auto;
}

/* H1 */
h1 {
    color: #333;
}

/* MAIN IMG */
main img {
    width: 200px;
    height: auto;
    border: 1px solid #000;
    padding: 5px;
    box-shadow: 0 0 10px #666;
}

/* ASIDE */
aside {
    width: 200px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f4f4f4;
    color: #333;
}

/* ASIDE IMG */
aside img {
    width: 200px;
    height: auto;
}

/* PARAGRAPHS */
p {
    padding: 0;
}

/* FOOTER */
footer {
    margin-top: 20px;
    border-top: 1px solid #000;
    text-align: center;
}