* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #003366;
    padding: 20px;
    text-align: center;
    color: white;
}

h1 {
    color: #333;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 840px;

}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #000;
    padding: 5px;
    box-shadow: 0 0 10px #666;
    float: right;
    margin: 0 0 1rem 1rem;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/*.class.selectors*/
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .10%);
    padding: 1rem;
    background-color: #666;
    color: #000;
}